<div class="content">
    <h2>Plan your day!</h2>
    <h3>User: Ivan Ivanov. Count of tasks {{ this.taskList.length }}</h3>
    <hr>
    <div class="inputPart">
        <input type="text" placeholder="write your task here" class="inputTask" [(ngModel)]="txtTask" />
        <input *ngIf="!editStatus" type="button" value="Add" class="inputPart-add-btn button" [disabled]="!txtTask"
            (click)="addBtn()" (keydown.enter)="addBtn()"/>
        <input type="button" value="Delete" class="inputPart-delete-btn button" [disabled]="taskList.length <= 0"
            (click)="deleteAll()" />
        <button type="button" *ngIf="editStatus" (click)="updateTask()" class="saveChanges">Save</button>
    </div>
    <hr>
    <app-child-list [tasks]="taskList" [textOfTask]="txtTask">
    </app-child-list>
</div>